<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @announcement.heading %>
</p>

<p>
  <strong>Message:</strong>
  <%= @announcement.message %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @announcement.is_active %>
</p>

<p>
  <strong>User:</strong>
  <%= @announcement.user_id %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
