<p id="notice"><%= notice %></p>

<h3>Song Key Signatures</h3>

<table class="table">
  <thead>
    <tr>
      <th style="text-align:center;">Key symbol</th>
      <th style="text-align:center;">Key full name</th>
      <th style="text-align:center;">Key root</th>
      <th style="text-align:center;">Key modifier</th>
<!--      <th>Capo fret</th>//-->
<!--      <th colspan="3"></th>//-->
    </tr>
  </thead>

  <tbody>
    <% @song_keys.each do |song_key| %>
      <tr>
        <td style="text-align:center;"><%= song_key.key_symbol.html_safe %></td>
        <td style="text-align:center;"><%= song_key.key_full_name %></td>
        <td style="text-align:center;"><%= song_key.key_root %></td>
        <td style="text-align:center;"><%= song_key.key_modifier.html_safe %></td>
<!--        <td><%#= song_key.capo_fret %></td>//-->
<!--        <td><%#= link_to 'Show', song_key %></td>//-->
<!--        <td><%#= link_to 'Edit', edit_song_key_path(song_key) %></td>//-->
<!--        <td><%#= link_to 'Destroy', song_key, method: :delete, data: { confirm: 'Are you sure?' } %></td>//-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song key', new_song_key_path %>
