<p id="notice"><%= notice %></p>

<h1>Listing Song Keys</h1>

<table>
  <thead>
    <tr>
      <th>Key symbol</th>
      <th>Key full name</th>
      <th>Key root</th>
      <th>Key modifier</th>
      <th>Capo fret</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @song_keys.each do |song_key| %>
      <tr>
        <td><%= song_key.key_symbol %></td>
        <td><%= song_key.key_full_name %></td>
        <td><%= song_key.key_root %></td>
        <td><%= song_key.key_modifier %></td>
        <td><%= song_key.capo_fret %></td>
        <td><%= link_to 'Show', song_key %></td>
        <td><%= link_to 'Edit', edit_song_key_path(song_key) %></td>
        <td><%= link_to 'Destroy', song_key, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song key', new_song_key_path %>
