<% btntxt = new_or_edit == "edit" ? "Update Schedule" : "Add New Schedule" %>

<%= form_for(@schedule, html: { class: "rails_form", style: 'height:300px;' }) do |f| %>
	<% if @schedule.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>
			<ul>
			<% @schedule.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field w100fl">
		<%= f.label :name %><br>
		<%= f.text_field :name, { class: "txt100", style: "" } %>
	</div>

	<div class="field w100fl">
		<%= f.label :schedule_date %><br>
		<%= f.text_field :schedule_date, { class: "txt100", style: "" } %>
	</div>

	<div class="field w100fl">
		<%= f.label :notes %><br>
		<%= f.text_area :notes, { class: "txt100", style: "" } %>
	</div>

	<div class="actions w100fl">
		<%= f.submit btntxt, { class: "btn btn-success", style: "float:left;width:150px;", onclick: "return checkScheduleForm();" } %>
		<%= link_to 'Back', schedules_path, { class: "btn btn-primary", style: "float:right;width:150px;" } %>
	</div>

<% end %>
