<% btntxt = new_or_edit == "edit" ? "Update Schedule" : "Add New Schedule" %>

<%= form_for(@schedule, html: { class: "rails_form", style: 'height:300px;' }) do |f| %>
	<% if @schedule.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>
			<ul>
			<% @schedule.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field w100fl">
		<%= f.label :name %><br>
		<%= f.text_field :name, { class: "txt100", style: "" } %>
	</div>

	<div class="field w100fl">
		<%= f.label :schedule_date %><br>
		<%= f.text_field :schedule_date, { class: "txt100", style: "" } %>
	</div>

	<div id="song_list_div" class="field w50fl" style="padding-right:10px;height:200px;">
		<label>Search Songs<i>(Click to add)</i>:</label><br>
		<input class="search txt100" />
		<ul class="list" id="full_song_list" style="overflow-y:scroll;height:75%;width:100%;list-style:none;padding-left: 0px;background-color:#EEE;border:1px solid #DDD;">
		<% Song.all.each do |song| %>
			<li class="song_list_li" id="song_<%= song.id %>" style="display:list_items">
				<p class="song_name" style="margin:0px;"><%= song.name %></p>
			</li>
		<% end %>
		</ul>
	</div>

	<div id="current_list_div" class="field w50fl" style="padding-left:10px;height:200px;">
		<label>Schedule Songs <i>(Click to remove)</i>:</label><br>
		<ul class="list" id="current_song_list" style="overflow-y:scroll;height:75%;width:100%;list-style:none;margin-top:25px;padding-left: 0px;background-color:#EEE;border:1px solid #DDD;">
		<% Song.all.each do |song| %>
			<li class="song_list_li" id="song_<%= song.id %>" style="display:list_items">
				<p class="song_name" style="margin:0px;"><%= song.name %></p>
			</li>
		<% end %>
		</"list">
	</div>

	<div class="field w100fl">
		<%= f.label :notes %><br>
		<%= f.text_area :notes, { class: "txt100", style: "" } %>
	</div>

	<div class="actions w100fl">
		<%= f.submit btntxt, { class: "btn btn-success", style: "float:left;width:150px;", onclick: "return checkScheduleForm();" } %>
		<%= link_to 'Back', schedules_path, { class: "btn btn-primary", style: "float:right;width:150px;" } %>
	</div>

<% end %>
