<% btntxt = new_or_edit == "edit" ? "Update Schedule" : "Add New Schedule" %>

<%= form_for(@schedule, html: { class: "rails_form", style: 'height:600px;' }) do |f| %>
	<% if @schedule.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>
			<ul>
			<% @schedule.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field w100fl">
		<%= f.label :name %><br>
		<%= f.text_field :name, { class: "txt100", style: "" } %>
	</div>

	<div class="field w100fl">
		<%= f.label :schedule_date %><br>
		<% dval = @schedule.id.nil? ? "" : @schedule.schedule_date.strftime("%m/%d/%Y") %>
		<%= f.text_field :schedule_date, { class: "txt100", style: "", value: dval } %>
	</div>

	<div id="song_list_div" class="field w50fl" style="padding-right:10px;height:200px;">
		<label>Search Songs<i>(Click to add)</i>:</label><br>
		<input id="song_search_txt" class="search txt100" />
		<ul class="list" id="full_song_list" style="overflow-y:scroll;height:75%;width:100%;list-style:none;padding-left: 0px;background-color:#FAFAFA;border:1px solid #DADADA;">
		<% @allsongs = Song.all - @schedule.songs %>
		<% @allsongs.each do |song| %>
			<li class="song_list_li" style="display:list-item;" onclick="addSongToSchedule(this)">
				<p class="song_name" style="margin:0px;"><%= song.name %></p>
				<p class="song_id" style="display:none;"><%= song.id %></p>
			</li>
		<% end %>
		</ul>
	</div>

	<div id="current_list_div" class="field w50fl" style="padding-left:10px;height:200px;">
		<label>Schedule Songs <i>(Drag to reorder)</i>:</label><br>
		<ul class="list" id="current_song_list" style="overflow-y:scroll;height:75%;width:100%;list-style:none;margin-top:25px;padding-left: 0px;background-color:#FAFAFA;border:1px solid #DADADA;">
		<% @schedule.get_songs_by_order.each do |song| %>
			<li class="song_list_li" style="display:list-item;">
				<p class="song_name" style="margin:0px;"><%= song.name %></p>
				<p class="song_id" style="display:none;"><%= song.id.to_s %></p>
				<button class="li_delete" onclick="removeSongFromSchedule(this)">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</li>
		<% end %>
		</ul>
		<% idarray = [] %>
		<% if !@schedule.nil? and !@schedule.song_order.nil? %>
			<% idarray = @schedule.song_order %>
		<% end %>
		<input type="hidden" id="schedule_song_order" name="schedule[song_order]" value='<%= idarray %>' />
	</div>

	<div class="field w100fl">
		<%= f.label :notes %><br>
		<%= f.text_area :notes, { class: "txt100", style: "" } %>
	</div>

	<div class="actions w100fl">
		<%= f.submit btntxt, { class: "btn btn-success", style: "float:left;width:150px;", onclick: "return checkScheduleForm();" } %>
		<%= link_to 'Back', schedules_path, { class: "btn btn-primary", style: "float:right;width:150px;" } %>
	</div>

<% end %>
