<!--<p id="notice"><%#= notice %></p>//-->

<h3>
	All Schedules
	<% if user_signed_in? and current_user.has_role? :admin %>
		<%= link_to 'New Schedule', new_schedule_path, { class: "btn btn-default btn-xs", style: "float:right;margin-top:2px;" } %>
	<% end %>
</h3>

<table class="table" id="schedule_table">
	<thead>
		<tr>
			<th>Name</th>
			<th style="text-align:center;">Schedule Date</th>
			<th style="text-align:center;"># of Songs</th>
			<th>Notes</th>
			<% if user_signed_in? and current_user.has_role? :admin %>
				<th></th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% @schedules.each do |schedule| %>
			<tr>
			<% if user_signed_in? and current_user.has_role? :admin %>
				<td><%= link_to schedule.name, edit_schedule_path(schedule) %></td>
			<% else %>
				<td><%= link_to schedule.name, schedule_path(schedule) %></td>
			<% end %>
				<td style="text-align:center;"><%= schedule.schedule_date.strftime("%m/%d/%Y") %></td>
				<td style="text-align:center;"><%= link_to schedule.songs.length, schedule_path(schedule) %></td>
				<td><%= schedule.notes %></td>
				<% if user_signed_in? and current_user.has_role? :admin %>
					<td><%= link_to 'Delete', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
