<!--<p id="notice"><%#= notice %></p>//-->

<h3>All Schedules</h3>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th style="text-align:center;">Schedule Date</th>
			<th style="text-align:center;"># of Songs</th>
			<th>Notes</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @schedules.each do |schedule| %>
			<tr>
				<td><%= link_to schedule.name, edit_schedule_path(schedule) %></td>
				<td style="text-align:center;"><%= schedule.schedule_date.strftime("%m/%d/%Y") %></td>
				<td style="text-align:center;"><%= schedule.songs.length %></td>
				<td><%= schedule.notes %></td>
				<td><%= link_to 'Delete', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path, { class: "btn btn-success", style: "float:left;width:150px;" } %>
