<!--<p id="notice"><%#= notice %></p>//-->

<h3><%= @schedule.name %>
	<span style="font-size:14px;float:right;height:36px;line-height:36px;display:block;">
		<%= @schedule.schedule_date.strftime('%m/%d/%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<% if user_signed_in? %>
		<%= link_to 'Edit', edit_schedule_path(@schedule) %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<% end %>
		<%= link_to 'Back', schedules_path %>
	</span>
</h3>

<% if !@schedule.notes.nil? and @schedule.notes.length > 0 %>
	<p style="margin-top: 5px; margin-bottom: 5px; padding-left: 5px; background-color:#DDD;">
		<strong style="padding-right:10px;">NOTES: </strong><%= @schedule.notes %>
	</p>
<% end %>
<table class="table" style="margin-bottom:10px ! important;border-bottom:1px solid #DDD;">
	<thead>
		<tr>
			<th style="width:48%">Name</th>
			<th style="width:13%;text-align:center;">Key</th>
			<th style="width:13%;text-align:center;">Capo</th>
			<th style="width:13%;text-align:center;"></th>
			<th style="width:13%;text-align:center;"></th>
		</tr>
	</thead>
	<tbody>
	<% @schedule.get_songs_by_order.each do |song| %>
		<tr>
			<td style="width:48%"><%= link_to song.name, song_path(song) %></td>
			<td style="width:13%;text-align:center;"><% begin %><%= song.song_keys.first.key_symbol.html_safe %><% rescue;end %></td>
			<td style="width:13%;text-align:center;"><%= song.capo_fret %></td>
			<td style="width:13%;text-align:center;"><%= link_to "YouTube", song.media_link, target: "_blank" %></td>
			<td style="width:13%;text-align:center;"><%= link_to 'Lyrics', song_path(song) %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<% if !current_user.nil? %>
<div id="comment_div" style="padding:10px;">
	<div id="comment_form" style="width:100%;">
		<input type="hidden" id="current_user_id" value="<%= current_user.id %>" />
		<input type="hidden" id="schedule_id" value="<%= @schedule.id %>" />
		<textarea id="comment_text" style="width:100%;height:75px;resize:none;margin-bottom:10px;padding:10px;border-radius:2px;box-shadow: 0px 4px 3px -3px #222;border:1px solid #CCC;"></textarea>
		<button class="btn btn-default" style="float:right;" onclick="addNewComment()">ADD COMMENT</button>
	</div>
</div>
<% end %>

<div id="comment_list" style="width: 100%; float: left; padding: 10px;">
	<% if @schedule.comments.size > 0 %>
		<% @schedule.comments.each do |comment| %>
			<% usr = comment.get_comment_user_info %>
			<div id="sch_comment_<%= comment.id %>_<%= comment.commentable_id %>">
				<span style="display:block;width:100%;font-weight:bold;"><%= usr['user_name'] %> says:</span>
				<span style="display:block:width:100%;"><%= comment.comment %></span>
			</div>
		<% end %>
	<% end %>
</div>
