<% btntxt = new_or_edit == "edit" ? "Update Song" : "Add New Song" %>

<%= form_for(@song, html: { class: "rails_form", style: 'height:775px;', autocomplete: "off" }) do |f| %>
	<% if @song.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>
			<ul>
			<% @song.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field w100fl">
		<%= f.label :name, "Song Name" %><br>
		<%= f.text_field :name, { class: "txt100", style: "" } %>
	</div>
	<div class="field w100fl">
		<%= f.label :author %><br>
		<% authors = Song.distinct.pluck(:author).map { |a| [a, a] } %>
		<select id="song_author" name="song[author]" class="txt100">
			<option value=""></option>
			<%= options_for_select(authors.sort_by {|i| i.first.split(' ').map(&:to_s).reverse }, @song.author) %>
		</select>
	</div>
	<div class="field w100fl">
		<%= f.label :composer %><br>
		<% composers = Song.distinct.pluck(:composer).map { |c| [c, c] } %>
		<select id="song_composer" name="song[composer]" class="txt100">
			<option value=""></option>
			<%= options_for_select(composers.sort_by {|i| i.first.split(' ').map(&:to_s).reverse }, @song.composer) %>
		</select>
	</div>

<!--  ANOTHER POSSIBLE OPTION FOR THE SELECT BOX:  https://selectize.github.io/selectize.js  -->

    <div class="field w100fl" style="padding-right:10px;margin-bottom:0px;">
		<%= f.label "Song Tags", "Tags" %><br>
        <div class="w100fl" style="line-height: 10px;padding: 10px 0px;">
            <select id="tag_type_name" style="width:100px;float:left;line-height: 20px;display: block;margin: 3px 10px 3px 0px;font-size: 16px;">
                <option value=""></option>
                <%= options_for_select(Tag.select(:tag_type).map(&:tag_type).uniq.sort) %>
            </select>
            <input type="text" id="add_tag_input" class="w50fl" style="padding:5px;" value="" />
            <button type="button" class="btn btn-default btn-xs" style="padding:5px;margin-left:10px;" onclick="addNewTag()">Add New Tag</button>
        </div>
	</div>
    <div class="field w100fl" style="padding-right:10px;">
        <select name="song[tags][]" id="song_tags" multiple="multiple"></select>
        <%#= select_tag "song[tags]", options_from_collection_for_select(Tag.all, "id", "tag_type_name", @song.tags.ids), multiple: true, class: '' %>
	</div>

	<div class="field w50fl" style="padding-right:10px;">
		<%= f.label :song_key, "Song Key" %><br>
		<% song_keys = SongKey.all.map { |k| [k.key_symbol.html_safe, k.id] } %>
		<select id="song_key_song" name="song[song_key]" class="txt100">
			<option value=""></option>
			<% keyid = (!@song.id.nil? and @song.song_keys.length > 0) ? @song.song_keys.first.id : "" %>
			<%= options_for_select(song_keys, keyid) %>
		</select>
	</div>

	<div class="field w100fl">
		<%= f.label :media_link, "YouTube Link" %><br>
		<%= f.text_field :media_link, { class: "txt100", style: "" } %>
	</div>

	<div class="field w100fl">
		<%= f.label :lyrics, "Song Lyrics" %><br>
		<%= f.text_area :lyrics, { class: "txt100", style: "height:150px" } %>
	</div>

	<div class="actions w100fl">
		<%= f.submit btntxt, { class: "btn btn-success", style: "float:left;width:150px;", onclick: "return checkSongForm();" } %>
		<%= link_to 'Back', songs_path, { class: "btn btn-primary", style: "float:right;width:150px;" } %>
	</div>

<% end %>
