<% btntxt = new_or_edit == "edit" ? "Update Song" : "Add New Song" %>

<%= form_for(@song, html: { class: "rails_form", style: 'height:775px;' }) do |f| %>
	<% if @song.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>
			<ul>
			<% @song.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field w100fl">
		<%= f.label :name, "Song Name" %><br>
		<%= f.text_field :name, { class: "txt100", style: "" } %>
	</div>
	<div class="field w100fl">
		<%= f.label :author %><br>
		<%#= f.text_field :author, { class: "txt100", style: "" } %>
		<% authors = Song.uniq.pluck(:author).map { |a| [a, a] } %>
		<select id="song_author" name="song[author]" class="txt100">
			<option value=""></option>
			<%= options_for_select(authors, @song.author) %>
		</select>
	</div>
	<div class="field w100fl">
		<%= f.label :composer %><br>
		<%#= f.text_field :composer, { class: "txt100", style: "" } %>
		<% composers = Song.uniq.pluck(:composer).map { |c| [c, c] } %>
		<select id="song_composer" name="song[composer]" class="txt100">
			<option value=""></option>
			<%= options_for_select(composers, @song.composer) %>
		</select>
	</div>

	<div class="field w50fl" style="padding-right:10px;">
		<%= f.label :song_key, "Song Key" %><br>
		<% song_keys = SongKey.all.map { |k| [k.key_symbol.html_safe, k.id] } %>
		<select id="song_key_song" name="song[song_key]" class="txt100">
			<option value=""></option>
			<% keyid = (!@song.id.nil? and @song.song_keys.length > 0) ? @song.song_keys.first.id : "" %>
			<%= options_for_select(song_keys, keyid) %>
		</select>
	</div>

	<div class="field w50fl" style="padding-left:10px;">
		<%= f.label :capo_fret, "Capo Fret" %><br>
		<% cfs = [[0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6], [7, 7], [8, 8]] %>
		<select id="song_capo_fret" name="song[capo_fret]" class="txt100">
			<%= options_for_select(cfs, @song.capo_fret) %>
				<!--
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option> -->
		</select>
	</div>

	<div class="field w100fl">
		<%= f.label :media_link, "YouTube Link" %><br>
		<%= f.text_field :media_link, { class: "txt100", style: "" } %>
	</div>

	<div class="field w100fl">
		<%= f.label :lyrics, "Song Lyrics" %><br>
		<%= f.text_area :lyrics, { class: "txt100", style: "height:150px" } %>
	</div>

	<div class="actions w100fl">
		<%= f.submit btntxt, { class: "btn btn-success", style: "float:left;width:150px;", onclick: "return checkSongForm();" } %>
		<%= link_to 'Back', songs_path, { class: "btn btn-primary", style: "float:right;width:150px;" } %>
	</div>

<% end %>
