<h3>All Songs</h3>

<table class="table" id="song_table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Artist</th>
			<th>Song Key</th>
			<th>Capo Fret</th>
			<th>Last Scheduled</th>
			<th></th>
		<% if user_signed_in? and current_user.has_role? :admin %>
			<th></th>
			<th></th>
		<% end %>
		</tr>
	</thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.name, song_path(song) %></td>
        <td><%= song.author %></td>
        <td style="text-align:center;"><% begin %><%= song.song_keys.first.key_symbol.html_safe %><% rescue;end %></td>
        <td style="text-align:center;"><%= song.capo_fret %></td>
		<td style="text-align:center;"><%= song.get_last_scheduled_span.html_safe %></td>
        <td><%= link_to "YouTube", song.media_link, target: "_blank" %></td>
	<% if user_signed_in? and current_user.has_role? :admin %>
		<td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Delete', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? and current_user.has_role? :admin %>
	<%= link_to 'New Song', new_song_path, { class: "btn btn-success", style: "float:left;width:150px;" } %>
<% end %>
