<!--<p id="notice"><%#= notice %></p>//-->

<h3><%= @song.name %><span style="font-size:14px;float:right;height:36px;line-height:36px;display:block;">
	<%= link_to 'Edit', edit_song_path(@song) %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to 'Back', songs_path %>
</span></h3>

<p>
	<strong>Author:</strong>
	<%= @song.author %>
</p>

<p>
	<strong>Song Key:</strong>
	<% begin %><%= @song.song_keys.first.key_symbol.html_safe %><% rescue;end %>
</p>

<p>
	<strong>Capo Fret:</strong>
	<%= @song.capo_fret %>
</p>

<p>
	<strong>YouTube Link:</strong>
	<%= link_to "YouTube", @song.media_link, target: "_blank" %>
</p>

<div style="width:500px;height:300px;margin-bottom:15px;">
	<%= @song.get_embed_video %>
</div>

<p><strong>Lyrics:</strong></p>
<div style="margin-bottom:50px;">
	<%= @song.lyrics.gsub("\r\n","<br/>").html_safe %>
</div>