<div id="container_wrapper" class="container_wrapper">
<div id="announcementdiv" style="width:100%;">

	<% @annc = Announcement.get_active_by_type %>
	<% if @annc.size > 0 %>
		<% if !@annc['warning'].nil? %>
			<div class="alert alert-danger">
				<% annc_arry = [] %>
				<% @annc['warning'].each do |announcement| %>
					<% head = announcement.heading.size > 0 ? "<span class='announce_span'>#{announcement.heading}</span>" : "" %>
					<% annc_arry.push("#{head} #{announcement.message}") %>
				<% end %>
				<%= annc_arry.join("<br><br>").html_safe %>
			</div>
		<% end %>

		<% if !@annc['alert'].nil? %>
			<div class="alert alert-warning">
				<% annc_arry = [] %>
				<% @annc['alert'].each do |announcement| %>
					<% head = announcement.heading.size > 0 ? "<span class='announce_span'>#{announcement.heading}</span>" : "" %>
					<% annc_arry.push("#{head} #{announcement.message}") %>
				<% end %>
				<%= annc_arry.join("<br><br>").html_safe %>
			</div>
		<% end %>

	<% end %>
</div>

<div id="schedules">
	<%= render @schedules %>
</div>
</div>

<div id="twitterdiv" class="twitterdiv">

	<% @info = Announcement.get_active.where("announcement_type_id = 1") %>
	<% if @info.size > 0 %>
		<div class="alert alert-info" style="margin-top:-30px;">
			<% annc_arry = [] %>
			<% @info.each do |announcement| %>
				<% head = announcement.heading.size > 0 ? "<span class='announce_span' style='font-size:18px !important;'>#{announcement.heading}</span>" : "" %>
				<% annc_arry.push("#{head} #{announcement.message}") %>
			<% end %>
			<%= annc_arry.join("<br><br>").html_safe %>
		</div>
	<% end %>

	<%# @client.user_timeline("thirdday").first(5).each do |tweet| %>
	<% @client.user_timeline("worshiptogether").first(5).each do |tweet| %>
		<div class="tweetdiv">
			<div class="tweetheader">
				<img class="tweeticon" src="<%= tweet.user.profile_image_url %>" />
				<div class="tweetnamewrapper">
					<span class="tweetusername">
						<a href="<%= tweet.user.url %>" target="_blank"><%= tweet.user.name %></a>
					</span>
					<span class="tweetscreenname">@<%= tweet.user.screen_name %></span>
				</div>
			</div>
			<div class="tweettext">
				<% @tweet = @tweetbld.get_tweet(tweet) %>
				<% if @tweet['images'].length > 0 %>
					<% @tweet['images'].each do |img| %>
						<%= img.html_safe %>
					<% end %>
				<% end %>
				<div class="tweetheader bubble">
					<span class="bubble_date"><%= tweet.created_at.strftime("%b %d, %l:%M%P") %></span>
					<%= @tweet['maintext'].html_safe %>
				</div>
			</div>
		</div>
	<% end %>
</div>

<%#= will_paginate @schedules %>
