<div id="all_users" style="padding:0px;">

	<h3>Manage Users</h3>
	<% cuia = (user_signed_in? and current_user.has_role? :admin) ? true : false %>
	<% cuid = user_signed_in? ? current_user.id : 0 %>
	<input type="hidden" id="current_user_is_admin" value="<%= cuia %>" />
	<input type="hidden" id="current_user_id" value="<%= cuid %>" />
	<table class="table">
		<thead><tr>
			<th>Name</th>
			<th>Email Address</th>
			<th>Last Sign-in</th>
			<th style="text-align:center;">Admin?</th>
			<th style="text-align:center">Disabled?</th>
			<th></th></tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td style="vertical-align:middle;width:200px;">
						<div contenteditable="true" onblur="updateField(this, 'name', <%= user.id %>)"
							 onkeypress="ignoreEnter(event)"
							 style="padding:5px;background-color:#eee;overflow:hidden;white-space:nowrap;width:200px;"
							 id="name_<%= user.id %>"><%= user.get_name %></div>
					</td>
					<td style="vertical-align:middle;width:225px;">
						<div contenteditable="true" onblur="updateField(this, 'email', <%= user.id %>)"
							 onkeypress="ignoreEnter(event)"
							 style="padding:5px;background-color:#eee;overflow:hidden;white-space:nowrap;width:200px;"
							 id="email_<%= user.id %>"><%= user.email %></div>
					</td>
					<%#= user.current_sign_in_at.strftime("%m/%d/%Y %I:%M:%S %p") %>
					<td style="vertical-align:middle;"><%= time_ago_in_words(user.current_sign_in_at) %> ago</td>
					<td style="text-align:center;vertical-align:middle;">
						<% chk = (user.has_role? :admin) ? "checked" : "" %>
						<input type="checkbox" id="admin_<%= user.id %>" <%= chk %> onchange="updateAdmin(<%= user.id %>, this.checked)">
					</td>
					<td style="text-align:center;vertical-align:middle;">
						<% chk = user.archive? ? "checked" : "" %>
						<input type="checkbox" id="archive_<%= user.id %>" <%= chk %> onchange="disableUser(<%= user.id %>, this.checked)">
					</td>
					<td style="text-align:center;vertical-align:middle;">
						<button class="btn btn-default btn-sm" onclick="resetPassword(<%= user.id %>)">
							<span class="glyphicon glyphicon-edit" style="margin-left:-5px;margin-right:10px;"></span>Reset Password
						</button>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
