<div id="all_users" style="padding:0px;">

	<h3>
		Manage Users
	</h3>
	<table class="table">
		<thead><tr><th>Name</th><th>Email Address</th><th style="text-align:center;">Admin?</th><th style="text-align:center;">Disable?</th><th></th></tr></thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td style="vertical-align:middle;"><%= user.get_name %></td>
					<td style="vertical-align:middle;"><%= link_to user.email %></td>
					<td style="text-align:center;vertical-align:middle;">
						<% chk = (user.has_role? :admin) ? "checked" : "" %>
						<input type="checkbox" id="admin_<%= user.id %>" <%= chk %> onchange="updateAdmin(<%= user.id %>, this.checked)">
					</td>
					<td style="text-align:center;vertical-align:middle;">
						<% chk = user.archive? ? "checked" : "" %>
						<input type="checkbox" id="archive_<%= user.id %>" <%= chk %> onchange="disableUser(<%= user.id %>, this.checked)">
					</td>
					<td>
						<button class="btn btn-danger" onclick="deleteUser(<%= user.id %>)">
							<span class="glyphicon glyphicon-trash" style="margin-left:-5px;margin-right:10px;"></span>Delete
						</button>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
