<!--<p id="notice"><%#= notice %></p>//-->

<h3>Worship Team Calendar</h3>

<%= month_calendar events: @attendances do |date, attendances| %>
	<%= date %>
	<ul class="eventul">
	<% attendances.each do |attendance| %>
		<li class="eventli" title="<%= attendance.description %>">
			<a href="<%= edit_attendance_path(attendance) %>">
			<%= attendance.description.truncate(15) %>
			</a>
		</li>
	<% end %>
	</ul>
<% end %>
