<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @attendance.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attendance.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @attendance.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @attendance.end_time %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
