<!DOCTYPE html>
<html>

<head>
	<title>MyWorship</title>
	<%= favicon_link_tag %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<!-- TODO: -->

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="<%= root_url %>">
					<span style="margin-right:10px;"><%= image_tag("faithfamilylogostandalone.jpg", size: "32") %></span>
					MyWorship
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="" id=""><a href="<%= schedules_path %>">Schedules</a></li>
					<li class="" id=""><a href="<%= songs_path %>">Songs</a></li>
					<% if user_signed_in? %>
						<li class="" id=""><a href="<%= attendances_path %>">Calendar</a></li>
						<% if current_user.has_role? :admin %>
						<li class="" id=""><a href="<%= reports_path %>">Reports</a></li>
						<% end %>
					<% end %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<p class="navbar-text" style="margin-left:15px;">
							<% if user_signed_in? %>
								<%= link_to(current_user.email, edit_user_registration_path, { style: "text-decoration:none;color:#9D9D9D" }) %> | 
								<%= link_to('Logout', destroy_user_session_path, { :method => :delete, style: "text-decoration:none;color:#9D9D9D" }) %>
							<% else %>
								<%= link_to('Login', new_user_session_path, { style:"text-decoration:none;color:#9D9D9D;" })  %>
								or <%= link_to('Sign up', new_user_registration_path, {style: "text-decoration:none;color:#9D9D9D;"}) %>
							<% end %>
						</p>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div id="mainwrapper" class="container" style="margin-bottom:150px;">
		<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
		<% end %>
		<%= yield %>
	</div>

	<div class="footer">
		<div class="innerfooter tac">
			<div class="footer-content-left">
				<span style="font-style:normal;">MyWorship Schedule<span id="footerlocation"></span></span>
			</div>
			<div class="footer-content-right">
				<span>
					Powered by <a href="http://getbootstrap.com" class="wrmclr" target="_blank">Bootstrap</a>
				</span>
			</div>
		</div>
	</div>

</body>
</html>
