<!DOCTYPE html>
<html>

<head>
	<title>FFC Worship</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<%= favicon_link_tag %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<!-- TODO:

	Add websockets for Admin notifications https://github.com/websocket-rails/websocket-rails
	Finish code for Email notifications for Admins when a user comments
	Add code to CRUD mailing lists for users, and send out automated messages
		- like, every Saturday evening it sends an email to users with the coming sunday's schedule
	Add code for user password reset
		- Add code to email new password to user
	Figure out websockets routing

-->

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a style="width:200px;padding:0px;height:60px;line-height:60px;" class="navbar-brand navlink" href="<%= root_url %>">FFC Worship</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="" id=""><a class="navlink" href="<%= schedules_path %>">Schedules</a></li>
					<li class="" id=""><a class="navlink" href="<%= songs_path %>">Songs</a></li>
					<% if user_signed_in? and current_user.has_role? :admin %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admins <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="<%= reports_path %>">Reports</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="<%= useradmin_path %>">Users</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="<%= announcements_path %>">Announcements</a></li>
						</ul>
					</li>
					<% end %>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<p class="navbar-text" style="margin-left:15px;">
							<% if user_signed_in? %>
								<%= link_to(current_user.get_name, edit_user_registration_path, { class: "navlink", style: "text-decoration:none;color:#9D9D9D" }) %> |
								<%= link_to('Logout', destroy_user_session_path, { :method => :delete, style: "text-decoration:none;color:#9D9D9D" }) %>
							<% else %>
								<%= link_to('Login', new_user_session_path, { class: "navlink", style:"text-decoration:none;color:#9D9D9D;" })  %>
								or <%= link_to('Sign up', new_user_registration_path, { class: "navlink", style: "text-decoration:none;color:#9D9D9D;"}) %>
							<% end %>
						</p>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div id="mainwrapper" class="container" style="margin-bottom:125px;">
		<% if notice %>
			<p class="alert alert-success">
				<%= notice %>
				<button class="notice-close btn btn-default" onclick="closeNotice(this)">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</p>
		<% end %>
		<% if alert %>
			<p class="alert alert-danger">
				<%= alert %>
				<button class="notice-close btn btn-default" onclick="closeNotice(this)">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</p>
		<% end %>
		<%= yield %>
	</div>

	<footer class="footer">
		<div class="container">
			<p class="text-muted" style="line-height:30px;float:left;margin-bottom:0px;">FFC Worship Schedule</p>
			<% if !current_user.nil? and current_user.has_role? :admin %>
				<span class="label label-danger" onclick="hideNotifySpan(this)"
					  style="display:none;margin-top:7px;float:left;margin-left:20px;cursor:pointer;" id="sys_notes">
					New Comment!
				</span>
			<% end %>
			<p class="text-muted" style="line-height:30px;float:right;margin-bottom:0px;">
				Powered by <a href="http://rubyonrails.org/" class="wrmclr" target="_blank">Ruby on Rails</a>
			</p>
		</div>
	</footer>
</body>
</html>
